.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ignore potential build directories
build/
doc/
.qodo

# documentation
*.html
*.pdf
*.ps
*.dvi
*.aux
*.log
*.toc
*.idx
*.ilg
*.ind
*.svg
*.eps
*.png
*.jpg
*.js
*.css
*.xml
*.xhtml
*.xsd
*.map
*.md5
*.xslt

# Exceptions for test files
!tests/**/*.F90
